<form action="login"  method="post">
  <!-- User input -->
  <div class="form-outline mb-4">
    <input type="text" id="form2Example1"  name="username" class="form-control" />
    <label class="form-label" for="form2Example1">User Login </label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" name="password" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  </div>
</form
